<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>List of members</h1>
    <ul>
        <% members.forEach(function(name) { %>
            <li><%= name  %></li>
        <% }); %>
    </ul>
</body>
</html>
