<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>List to vote</h1>
<ul>
    <% voteList.forEach(function(name) { %>
        <li>
            <a href="/vote/<%= name %>>"><%= name  %></a>
        </li>
    <% }); %>
</ul>
</body>
</html>
